.background-style {
  background-image: url(../../images/ro_109_1920.png);
  object-fit: fill;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media screen and (max-width: 400px) {
  html,
  body {
    min-width: 400px;
  }
}
