.ui.form.login {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.ui.button {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.ui.container {
  display: block;
  margin-top: 20px;
}

.ui.segment {
  background: rgba(255, 255, 255, 0.7);
}

h1 {
  text-align: center;
}
